<html>
    <head></head>

    <body>
        {% block content %}{% endblock %}
    </body>

    <script
            src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
            integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="
            crossOrigin="anonymous"></script>
    <script src="/assets/js/app.js"></script>
</html>